<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/map-styles.css" type="text/css">
        <script src="js/jquery-3.1.1.js"></script>
        <script src="js/map-scripts.js"></script>
        <script src="js/scripts.js"></script>
        <script>

        var phase = {{phase|json_encode|raw}};
        Object.setPrototypeOf(phase,Phase.prototype);

        </script>
        <meta charset="utf-8">
        <title>Hangman Wars</title>
    </head>
    <body>
      <div class="logo">
        <img src="../img/hangman-titleanimframes.gif" alt="Hangman Title Gif" />
      </div>
      <div class="row">
        <div class="col-md-2" id="stage_1">
          <div id="Shakespeare">
            <button type="button" name="button" id="button_1" class="btn btn-success">Shakespeare</button>
            <div class="hidden_menu" id="sub_1">
              <form class="" action="/1" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_1">Play</button>
              </form>
            </div>
          </div>
          <div id="Dickens">
            <button type="button" name="button" id="button_2" class="btn btn-success">Dickens</button>
            <div class="hidden_menu" id="sub_2">
              <form class="" action="/2" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_2">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="stage_2">
          <div id="Chaucer">
            <button type="button" name="button" id="button_3" class="btn btn-success">Chaucer</button>
            <div class="hidden_menu" id="sub_3">
              <form class="" action="/3" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_3">Play</button>
              </form>
            </div>
          </div>
          <div id="Poe">
            <button type="button" name="button" id="button_4" class="btn btn-success">Poe</button>
            <div class="hidden_menu" id="sub_4">
              <form class="" action="/4" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_4">Play</button>
              </form>
            </div>
          </div>
          <div id="Woolf">
            <button type="button" name="button" id="button_8" class="btn btn-success">Woolf</button>
            <div class="hidden_menu" id="sub_8">
              <form class="" action="/8" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_8">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="stage_3">
          <div id="Austen">
            <button type="button" name="button" id="button_5" class="btn btn-success">Austen</button>
            <div class="hidden_menu" id="sub_5">
              <form class="centertest" action="/5" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_5">Play</button>
              </form>
            </div>
          </div>
          <div id="Tolstoy">
            <button type="button" name="button" id="button_6" class="btn btn-success">Tolstoy</button>
            <div class="hidden_menu" id="sub_6">
              <form class="" action="/6" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_6">Play</button>
              </form>
            </div>
          </div>
          <div id="Twain">
            <button type="button" name="button" id="button_7" class="btn btn-success">Twain</button>
            <div class="hidden_menu" id="sub_7">
              <form class="" action="/7" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_7">Play</button>
              </form>
            </div>
          </div>
          <div id="Wilde">
            <button type="button" name="button" id="button_9" class="btn btn-success">Wilde</button>
            <div class="hidden_menu" id="sub_9">
              <form class="" action="/9" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_9">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="stage_4">
          <div id="Napoleon">
            <button type="button" name="button" id="button_10" class="btn btn-success">Napoleon</button>
            <div class="hidden_menu" id="sub_10">
              <form class="" action="/10" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_10">Play</button>
              </form>
            </div>
          </div>
          <div id="Hemingway">
            <button type="button" name="button" id="button_11" class="btn btn-success">Hemingway</button>
            <div class="hidden_menu" id="sub_11">
              <form class="" action="/11" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_11">Play</button>
              </form>
            </div>
          </div>
          <div id="Stevenson">
            <button type="button" name="button" id="button_12" class="btn btn-success">Stevenson</button>
            <div class="hidden_menu" id="sub_12">
              <form class="" action="/12" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_12">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2" id="stage_5">
          <div id="Python">
            <button type="button" name="button" id="button_13" class="btn btn-success">Python</button>
            <div class="hidden_menu" id="sub_13">
              <form class="" action="/13" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_13">Play</button>
              </form>
            </div>
          </div>
          <div id="StarWars">
            <button type="button" name="button" id="button_14" class="btn btn-success">StarWars</button>
            <div class="hidden_menu" id="sub_14">
              <form class="" action="/14" method="post">
                <select class="" name="difficulty">
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
                <button type="submit" name="button" class="btn btn-info" id="play_button_14">Play</button>
              </form>
            </div>
          </div>

        </div>

      </div>
    </body>
</html>
