<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
        <link rel="stylesheet" href="../css/start-styles.css" type="text/css">
        <script src="../js/jquery-3.1.1.js"></script>
        <script src="../js/start-scripts.js"></script>
        <title>Hangman Wars</title>
    </head>
  <body>
      <div class="start-logo">
          <img src="../img/hangman-titleanimframes.gif" alt="Hangman Title Gif" />
      </div>

    <div id="setup" class="instructions">
      <p><span id="game-name">Hangman Wars</span> is an interactive word game based on the classic Hangman Game.  Players take on the role of a warlord seeking to conquer the land, and the only path to victory is to empower their soldiers by deducing the secret phrases of the authors of the land.</p>
    </div>
    <div id="tutorial" class="instructions">
      <p>Each round of play, the player will select an author from the region and be given a hidden phrase taken from their work. They must guess each word in the phrase letter by letter, and when they guess incorrectly, a soldier dies.</p>
      <p>When all five regions are conquered, they are declared the victor! When they guess the whole phrase, their soldiers assault the keep of the castle, and if enough survive, the player may conquer the next region.</p>
    </div>

    <form class="new-game-button" action="/map/{{ game_id }}" method="post">
        <button type="submit" class="new-game btn btn-warning">Onward, to Battle!</button>
    </form>
    <div class="tutorial-button-div">
        <button class="btn" id="hideshow" type="button">Tutorial</button>
    </div>
  </body>
</html>
