#sub_1, #sub_2, #sub_3, #sub_4, #sub_5, #sub_6, #sub_7, #sub_8, #sub_9, #sub_10, #sub_11, #sub_12, #sub_13, #sub_14 {
  display: none;
}

body {
  background: url('../img/Hangman-map.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  width: 100%;
  background-attachment: fixed;
}

.col-md-3, .col-md-2 {
text-align: center;
}

.btn {
  margin: 5%;
}

.logo {
  text-align: center;
  margin-top: 5%;
}

.hidden_menu {
  background: rgba(183, 137, 88, 0.5);
  padding: 2px;
  width: 200px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

#Shakespeare {
  margin-top: 60%;
}

#Dickens {
  margin-top: 60%;
}

#Poe {
  margin-top: 20%;
}

#Woolf {
  margin-top: 20%;
}

#Chaucer {
  margin-top: 30%;
}

#Austen {
  margin-top: 30%;
}

#Tolstoy {
  margin-top: 20%;
}

#Twain {
  margin-top: 20%;
}

#Wilde {
  margin-top: 20%;
}

#Napoleon {
  margin-top: 20%;
}

#Hemingway {
  margin-top: 30%;
}

#Stevenson {
  margin-top: 30%;
}

#Python {
  margin-top: 70%;
}

#StarWars {
  margin-top: 50%;
}

#play_button_1, #play_button_2, #play_button_3, #play_button_4, #play_button_5, #play_button_6, #play_button_7, #play_button_8, #play_button_9, #play_button_10, #play_button_11, #play_button_12, #play_button_13, #play_button_14 {
  margin: 10px;
}
