#sub_1, #sub_2, #sub_3, #sub_4, #sub_5, #sub_6, #sub_7, #sub_8, #sub_9, #sub_10, #sub_11, #sub_12, #sub_13, #sub_14 {
  display: none;
}

body {
  background: url('../img/Hangman-map.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  width: 100%;
  background-attachment: fixed;
}

.btn {
  margin: 20%;
}
