body {
  background: url('../img/hangman-play-headerblank.jpg');
  background-color: #9ece9c;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  width: 100%;
  background-attachment: fixed;
}

.logo {
  text-align: center;
  margin-top: 10%;
}

.container {
  margin-top: 12%;
}

.left {
  text-align: left;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

#computer-knight, #player-knight1, #player-knight2, #player-knight3, #player-knight-death {
  width: 50%;
}

#player-knight1 {
    position:absolute;
    top: 0px;
    left: 0px;
}

#player-knight2 {
    position:absolute;
    top: 0px;
    left: 25px;
}

#player-knight3 {
  display: none;
    position:absolute;
    top: 0px;
    left: 50px;
}

#player-knight-death {
    position:absolute;
    top: 0px;
    left: 50px;
}

#computer_score, #player_score {
  font-size: 120%;
  color: red;
}


.box {
    border: 1px solid black;
    text-align: center;
}

#battle_win, #battle_lose, #total_loss, #end_state {
  display: none;
}
