body {
    background: url('../img/Hangman-map.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    width: 100%;
    background-attachment: fixed;
    font-family: 'Cinzel Decorative', cursive;
}

img {
    margin-top: 45px;
    width: 700px;
}

@keyframes backround-lightning {
    0% {
        background-color: rgba(169,169,169, 0.4);
    }
    40% {
        background-color: rgba(169,169,169, 0.4);
    }
    41% {
        background-color: rgba(169,169,169, 0.3);
    }
    42% {
        background-color: rgba(169,169,169, 0.4);
    }
    45% {
        background-color: rgba(169,169,169, 0.4);
    }
    46% {
        background-color: rgba(169,169,169, 0.2);
    }
    47% {
        background-color: rgba(169,169,169, 0.4);
    }
    74% {
        background-color: rgba(169,169,169, 0.4);
    }
    75% {
        background-color: rgba(169,169,169, 0.6);
    }
    76% {
        background-color: rgba(169,169,169, 0.4);
    }
    100% {
        background-color: rgba(169,169,169, 0.4);
    }
}

.btn {
    background-color: rgba(138, 7, 7, 1);
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 3px #000;
    box-shadow: 3px 3px 5px #000;
}


.final-win-div {
    display: none;
    animation: backround-lightning 5s infinite;
    background-color: rgba(169,169,169, 0.4);
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 25px;
    border-radius: 15px;
    width: 1750px;
    height: 1235px;
    /*border: 3px solid rgba(255, 255, 255, .1);*/
}
.final-win-div2 {
    /*display: none;*/
    animation: backround-lightning 5s infinite;
    background-color: rgba(169,169,169, 0.4);
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 25px;
    border-radius: 15px;
    width: 1750px;
    height: 1235px;
}
.final-logo {
    /*display: none;*/
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    height: 700px;
}

.new-game-button {
    /*display: none;*/
    text-align: center;
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 700px;
}

#final1 {
    animation: final1 5s infinite;
    text-shadow: 1px 1px 2px #000;

    font-size: 85px;
}

#final1b {
    animation: final1 5s infinite;
    text-shadow: 2px 2px 6px #000;
    font-size: 130px;
}

@keyframes final1 {
    0% {
        color: black;
    }
    20% {
        color: rgba(138, 7, 7, 1)
    }
    40% {
        color: rgba(138, 7, 7, 1)
    }
    41% {
        color: rgba(220, 220, 220, 0.4)
    }
    42% {
        color: rgba(138, 7, 7, 1)
    }
    45% {
        color: rgba(138, 7, 7, 1)
    }
    46% {
        color: rgba(220, 220, 220, 0.4)
    }
    47% {
        color: rgba(138, 7, 7, 1)
    }
    74% {
        color: rgba(138, 7, 7, 1)
    }
    75% {
        color: rgba(220, 220, 220, 0.4)
    }
    76% {
        color: rgba(138, 7, 7, 1)
    }
    80% {
        color: rgba(138, 7, 7, 1)
    }
    100% {
        color: black;
    }

}
#final2 {
    /*display: none;*/
    font-size: 50px;
    text-shadow: 1px 1px 2px #000;
    color: rgba(119, 6 ,6, 1)
}
#final3 {
    /*display: none;*/
    font-size: 45px;
    text-shadow: 1px 1px 2px #000;
    color: rgba(119, 6 ,6, 1)
}
#final4 {
    /*display: none;*/
    font-size: 40px;
    text-shadow: 1px 1px 2px #000;
    color: rgba(119, 6 ,6, 1)
}
#final5 {
    /*display: none;*/
    font-size: 30px;
    text-shadow: 1px 1px 2px #000;
    color: rgba(119, 6 ,6, 1)
}
#final6 {
    /*display: none;*/
    font-size: 30px;
    text-shadow: 1px 1px 2px #000;
    color: #fef4f4
}
#final7 {
    text-shadow: 1px 1px 2px #000;
    font-size: 85px;
    color: rgba(138, 7, 7, 1)
}
